<ion-view view-title="Login">
  <ion-content class="padding">
    <p>Please Login in. If you do not have an account, you must register.</p>
	<div class="list list-inset">
	  <label class="item item-input">
	    <input type="text" placeholder="Email">
	  </label>
	  <label class="item item-input">
	    <input type="text" placeholder="Password">
	  </label>
	   <button class="button custom"> Submit </button>
	   <p> Please register <a ng-click="openModal()">here</a> if you do not have an account.</p>
	</div>
  </ion-content>
</ion-view>
