<ion-view view-title="Payment">
  <ion-content class="padding">
	   
		</div>
		<div class="list card">
	      <label class="item item-input item-stacked-label">
		    <span class="input-label">Name on card</span>
		    <input type="text">
		  </label> 	 
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">Card Number</span>
		    <input type="text">
		  </label>
		  <label class="item item-input item-stacked-label">
		    <span class="input-label">CVC code</span>
		    <input type="number">
		  </label>
		  <label class="item item-input">
		    <span class="input-label">Expiration (MM/YYYY)</span>
		    <input type="number" class="col-25 input-size-2 padding-none" /> /  <input type="number" class="col-25 input-size-four padding-none">
		  </label>
		</div>
		<button ng-click="purchase()" class="button custom"> Purchase </button>

  </ion-content>
</ion-view>
